.counter {
    width: 150px;
    height: 150px;
    margin: 5px;
}

.buttonsPanel {
    width: 100%;
    border: 2px solid darkcyan;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
}
