.monitor{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 26px;

    background-color: cyan;
    border: 2px solid darkcyan;
    border-radius: 10px;

    text-shadow: #da3c69 0 0 1px;
}

.isMaxValue{
    color: red;
    border-color: red;
}